pipeline/Pagination.json
{
	"name": "Pagination",
	"properties": {
		"activities": [
			{
				"name": "Retrieve all NBA results",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set startpage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('page')), activity('Get page from BallDontLie_io').output.paging.total_pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get page from BallDontLie_io",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://api.sproutsocial.com/v1/1565870/analytics/posts/",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Authorization": "Bearer MTU2NTg3MHwxNjI3NjAyODUwfDk4N2M4OWI4LTc1NzctNDg3Ny1hMjUxLWVmMWYzNzU3ZGYwZQ=="
								},
								"body": {
									"value": "{\n    \"fields\": [\n    \"content_category\"\n,\"created_time\"\n,\"from\"\n,\"from.guid\"\n,\"from.name\"\t\n,\"from.profile_picture\"\t\n,\"from.screen_name\"\t\n,\"guid\"\n,\"internal\"\n,\"internal.tags.id\"\t\n,\"internal.sent_by.id\"\t\n,\"internal.sent_by.email\"\t\n,\"internal.sent_by.first_name\"\t\n,\"internal.sent_by.last_name\"\t\n,\"post_type\"\t\n,\"post_category\"\t\n,\"network\"\n,\"perma_link\"\n,\"profile_guid\"\n,\"text\"\n,\"title\"\n,\"clickthrough_link\"\n,\"clickthrough_link.name\"\t\n,\"clickthrough_link.long\"\t\n,\"clickthrough_link.short\"\t\n,\"hashtags\"\n,\"visual_media\"\n  ],\n \"metrics\": [\"lifetime.impressions\"\n,\"lifetime.post_media_views\"\n,\"lifetime.video_views\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.post_link_clicks\"\n,\"lifetime.post_content_clicks_other\"\n,\"lifetime.post_media_clicks\"\n,\"lifetime.post_hashtag_clicks\"\n,\"lifetime.post_detail_expand_clicks\"\n,\"lifetime.post_profile_clicks\"\n,\"lifetime.engagements_other\"\n,\"lifetime.post_followers_gained\"\n,\"lifetime.post_app_engagements\"\n,\"lifetime.post_app_installs\"\n,\"lifetime.post_app_opens\"\n,\"lifetime.impressions\"\n,\"lifetime.impressions_organic\"\n,\"lifetime.impressions_viral\"\n,\"lifetime.impressions_nonviral\"\n,\"lifetime.impressions_paid\"\n,\"lifetime.impressions_follower\"\n,\"lifetime.impressions_follower_organic\"\n,\"lifetime.impressions_follower_paid\"\n,\"lifetime.impressions_nonfollower\"\n,\"lifetime.impressions_nonfollower_organic\"\n,\"lifetime.impressions_nonfollower_paid\"\n,\"lifetime.impressions_unique\"\n,\"lifetime.impressions_organic_unique\"\n,\"lifetime.impressions_viral_unique\"\n,\"lifetime.impressions_nonviral_unique\"\n,\"lifetime.impressions_paid_unique\"\n,\"lifetime.impressions_follower_unique\"\n,\"lifetime.impressions_follower_paid_unique\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.reactions_love\"\n,\"lifetime.reactions_haha\"\n,\"lifetime.reactions_wow\"\n,\"lifetime.reactions_sad\"\n,\"lifetime.reactions_angry\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.question_answers\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.post_link_clicks\"\n,\"lifetime.post_photo_view_clicks\"\n,\"lifetime.post_video_play_clicks\"\n,\"lifetime.post_content_clicks_other\"\n,\"lifetime.negative_feedback\"\n,\"lifetime.engagements_unique\"\n,\"lifetime.engagements_follower_unique\"\n,\"lifetime.post_activity_unique\"\n,\"lifetime.reactions_unique\"\n,\"lifetime.comments_count_unique\"\n,\"lifetime.shares_count_unique\"\n,\"lifetime.question_answers_unique\"\n,\"lifetime.post_content_clicks_unique\"\n,\"lifetime.post_link_clicks_unique\"\n,\"lifetime.post_photo_view_clicks_unique\"\n,\"lifetime.post_video_play_clicks_unique\"\n,\"lifetime.post_other_clicks_unique\"\n,\"lifetime.negative_feedback_unique\"\n,\"video_length\"\n,\"lifetime.video_views\"\n,\"lifetime.video_views_organic\"\n,\"lifetime.video_views_paid\"\n,\"lifetime.video_views_autoplay\"\n,\"lifetime.video_views_click_to_play\"\n,\"lifetime.video_views_sound_on\"\n,\"lifetime.video_views_sound_off\"\n,\"lifetime.video_views_10s\"\n,\"lifetime.video_views_10s_organic\"\n,\"lifetime.video_views_10s_paid\"\n,\"lifetime.video_views_10s_autoplay\"\n,\"lifetime.video_views_10s_click_to_play\"\n,\"lifetime.video_views_10s_sound_on\"\n,\"lifetime.video_views_10s_sound_off\"\n,\"lifetime.video_views_partial\"\n,\"lifetime.video_views_partial_organic\"\n,\"lifetime.video_views_partial_paid\"\n,\"lifetime.video_views_partial_autoplay\"\n,\"lifetime.video_views_partial_click_to_play\"\n,\"lifetime.video_views_30s_complete\"\n,\"lifetime.video_views_30s_complete_organic\"\n,\"lifetime.video_views_30s_complete_paid\"\n,\"lifetime.video_views_30s_complete_autoplay\"\n,\"lifetime.video_views_30s_complete_click_to_play\"\n,\"lifetime.video_views_p95\"\n,\"lifetime.video_views_p95_organic\"\n,\"lifetime.video_views_p95_paid\"\n,\"lifetime.video_views_unique\"\n,\"lifetime.video_views_organic_unique\"\n,\"lifetime.video_views_paid_unique\"\n,\"lifetime.video_views_10s_unique\"\n,\"lifetime.video_views_30s_complete_unique\"\n,\"lifetime.video_views_p95_organic_unique\"\n,\"lifetime.video_views_p95_paid_unique\"\n,\"lifetime.video_view_time_per_view\"\n,\"lifetime.video_view_time\"\n,\"lifetime.video_view_time_organic\"\n,\"lifetime.video_view_time_paid\"\n,\"lifetime.video_ad_break_impressions\"\n,\"lifetime.video_ad_break_earnings\"\n,\"lifetime.video_ad_break_cost_per_impression\"\n,\"lifetime.impressions\"\n,\"lifetime.impressions_unique\"\n,\"lifetime.video_views\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.comments_count\"\n,\"lifetime.saves\"\n,\"lifetime.comments_count\"\n,\"lifetime.story_taps_back\"\n,\"lifetime.story_taps_forward\"\n,\"lifetime.story_exits\"\n,\"lifetime.impressions\"\n,\"lifetime.reactions\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.video_views\"],\n  \"filters\": [\n    \"customer_profile_id.eq(@{pipeline().parameters.customerProfileIds})\",\n    \"created_time.in(@{pipeline().parameters.loadTs}...@{utcnow('yyyy-MM-dd')})\"\n  ],\n  \"page\":@{variables('page')}\n\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set next page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "page",
								"value": {
									"value": "@string(add(activity('Get page from BallDontLie_io').output.paging.current_page,1 ))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get page from BallDontLie_io",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "{\n    \"fields\": [\n    \"content_category\"\n,\"created_time\"\n,\"from\"\n,\"from.guid\"\n,\"from.name\"\t\n,\"from.profile_picture\"\t\n,\"from.screen_name\"\t\n,\"guid\"\n,\"internal\"\n,\"internal.tags.id\"\t\n,\"internal.sent_by.id\"\t\n,\"internal.sent_by.email\"\t\n,\"internal.sent_by.first_name\"\t\n,\"internal.sent_by.last_name\"\t\n,\"post_type\"\t\n,\"post_category\"\t\n,\"network\"\n,\"perma_link\"\n,\"profile_guid\"\n,\"text\"\n,\"title\"\n,\"clickthrough_link\"\n,\"clickthrough_link.name\"\t\n,\"clickthrough_link.long\"\t\n,\"clickthrough_link.short\"\t\n,\"hashtags\"\n,\"visual_media\"\n  ],\n \"metrics\": [\"lifetime.impressions\"\n,\"lifetime.post_media_views\"\n,\"lifetime.video_views\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.post_link_clicks\"\n,\"lifetime.post_content_clicks_other\"\n,\"lifetime.post_media_clicks\"\n,\"lifetime.post_hashtag_clicks\"\n,\"lifetime.post_detail_expand_clicks\"\n,\"lifetime.post_profile_clicks\"\n,\"lifetime.engagements_other\"\n,\"lifetime.post_followers_gained\"\n,\"lifetime.post_app_engagements\"\n,\"lifetime.post_app_installs\"\n,\"lifetime.post_app_opens\"\n,\"lifetime.impressions\"\n,\"lifetime.impressions_organic\"\n,\"lifetime.impressions_viral\"\n,\"lifetime.impressions_nonviral\"\n,\"lifetime.impressions_paid\"\n,\"lifetime.impressions_follower\"\n,\"lifetime.impressions_follower_organic\"\n,\"lifetime.impressions_follower_paid\"\n,\"lifetime.impressions_nonfollower\"\n,\"lifetime.impressions_nonfollower_organic\"\n,\"lifetime.impressions_nonfollower_paid\"\n,\"lifetime.impressions_unique\"\n,\"lifetime.impressions_organic_unique\"\n,\"lifetime.impressions_viral_unique\"\n,\"lifetime.impressions_nonviral_unique\"\n,\"lifetime.impressions_paid_unique\"\n,\"lifetime.impressions_follower_unique\"\n,\"lifetime.impressions_follower_paid_unique\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.reactions_love\"\n,\"lifetime.reactions_haha\"\n,\"lifetime.reactions_wow\"\n,\"lifetime.reactions_sad\"\n,\"lifetime.reactions_angry\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.question_answers\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.post_link_clicks\"\n,\"lifetime.post_photo_view_clicks\"\n,\"lifetime.post_video_play_clicks\"\n,\"lifetime.post_content_clicks_other\"\n,\"lifetime.negative_feedback\"\n,\"lifetime.engagements_unique\"\n,\"lifetime.engagements_follower_unique\"\n,\"lifetime.post_activity_unique\"\n,\"lifetime.reactions_unique\"\n,\"lifetime.comments_count_unique\"\n,\"lifetime.shares_count_unique\"\n,\"lifetime.question_answers_unique\"\n,\"lifetime.post_content_clicks_unique\"\n,\"lifetime.post_link_clicks_unique\"\n,\"lifetime.post_photo_view_clicks_unique\"\n,\"lifetime.post_video_play_clicks_unique\"\n,\"lifetime.post_other_clicks_unique\"\n,\"lifetime.negative_feedback_unique\"\n,\"video_length\"\n,\"lifetime.video_views\"\n,\"lifetime.video_views_organic\"\n,\"lifetime.video_views_paid\"\n,\"lifetime.video_views_autoplay\"\n,\"lifetime.video_views_click_to_play\"\n,\"lifetime.video_views_sound_on\"\n,\"lifetime.video_views_sound_off\"\n,\"lifetime.video_views_10s\"\n,\"lifetime.video_views_10s_organic\"\n,\"lifetime.video_views_10s_paid\"\n,\"lifetime.video_views_10s_autoplay\"\n,\"lifetime.video_views_10s_click_to_play\"\n,\"lifetime.video_views_10s_sound_on\"\n,\"lifetime.video_views_10s_sound_off\"\n,\"lifetime.video_views_partial\"\n,\"lifetime.video_views_partial_organic\"\n,\"lifetime.video_views_partial_paid\"\n,\"lifetime.video_views_partial_autoplay\"\n,\"lifetime.video_views_partial_click_to_play\"\n,\"lifetime.video_views_30s_complete\"\n,\"lifetime.video_views_30s_complete_organic\"\n,\"lifetime.video_views_30s_complete_paid\"\n,\"lifetime.video_views_30s_complete_autoplay\"\n,\"lifetime.video_views_30s_complete_click_to_play\"\n,\"lifetime.video_views_p95\"\n,\"lifetime.video_views_p95_organic\"\n,\"lifetime.video_views_p95_paid\"\n,\"lifetime.video_views_unique\"\n,\"lifetime.video_views_organic_unique\"\n,\"lifetime.video_views_paid_unique\"\n,\"lifetime.video_views_10s_unique\"\n,\"lifetime.video_views_30s_complete_unique\"\n,\"lifetime.video_views_p95_organic_unique\"\n,\"lifetime.video_views_p95_paid_unique\"\n,\"lifetime.video_view_time_per_view\"\n,\"lifetime.video_view_time\"\n,\"lifetime.video_view_time_organic\"\n,\"lifetime.video_view_time_paid\"\n,\"lifetime.video_ad_break_impressions\"\n,\"lifetime.video_ad_break_earnings\"\n,\"lifetime.video_ad_break_cost_per_impression\"\n,\"lifetime.impressions\"\n,\"lifetime.impressions_unique\"\n,\"lifetime.video_views\"\n,\"lifetime.reactions\"\n,\"lifetime.likes\"\n,\"lifetime.comments_count\"\n,\"lifetime.saves\"\n,\"lifetime.comments_count\"\n,\"lifetime.story_taps_back\"\n,\"lifetime.story_taps_forward\"\n,\"lifetime.story_exits\"\n,\"lifetime.impressions\"\n,\"lifetime.reactions\"\n,\"lifetime.comments_count\"\n,\"lifetime.shares_count\"\n,\"lifetime.post_content_clicks\"\n,\"lifetime.video_views\"],\n  \"filters\": [\n    \"customer_profile_id.eq(@{pipeline().parameters.customerProfileIds})\",\n    \"created_time.in(@{pipeline().parameters.loadTs}...@{utcnow('yyyy-MM-dd')})\"\n  ],\n  \"page\":@{variables('page')}\n\n}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json",
										"Authorization": "Bearer MTU2NTg3MHwxNjI3NjAyODUwfDk4N2M4OWI4LTc1NzctNDg3Ny1hMjUxLWVmMWYzNzU3ZGYwZQ=="
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "googlea",
										"type": "LinkedServiceReference"
									}
								},
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "REST_SproutSocial_Analytics",
									"type": "DatasetReference",
									"parameters": {
										"organizationId": "1565870"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SproutSocial_Metrics",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Set startpage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "page",
					"value": "1"
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Retrieve all NBA results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "SS*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SproutSocial_Metrics",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SproutSocial_Metrics_Pipeline_AzureBlob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SproutSocial_Metrics_Pipeline_AzureBlob",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "googlea",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "Sprout*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete2",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SproutSocial_Metrics_Pipeline_AzureBlob",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "googlea",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "SS*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Delete2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SproutSocial_Analytics_DATAFEED",
						"type": "DataFlowReference",
						"parameters": {
							"feedId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"customerProfileIds": {
				"type": "string",
				"defaultValue": "4765976,4765978,4765984"
			},
			"loadTs": {
				"type": "string",
				"defaultValue": "2023-04-17"
			}
		},
		"variables": {
			"page": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "Practitioners_Workspace"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-20T20:14:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}